@keyframes fadeIn {
	0% {
		opacity:0.1;
	}
	25% {
		opacity:0.25;
	}
	50% {
		opacity:0.5;
	}
	75% {
		opacity:0.75;
	}
	100% {
		opacity:1;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity:0.1;
	}
	25% {
		opacity:0.25;
	}
	50% {
		opacity:0.5;
	}
	75% {
		opacity:0.75;
	}
	100% {
		opacity:1;
	}
}
@-o-keyframes fadeIn {
	0% {
		opacity:0.1;
	}
	25% {
		opacity:0.25;
	}
	50% {
		opacity:0.5;
	}
	75% {
		opacity:0.75;
	}
	100% {
		opacity:1;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity:0.1;
	}
	25% {
		opacity:0.25;
	}
	50% {
		opacity:0.5;
	}
	75% {
		opacity:0.75;
	}
	100% {
		opacity:1;
	}
}
::selection {
	background:#F0F7FA;
}
::-moz-selection {
	background:#F0F7FA;
}

body {
	font-family: "Microsoft YaHei",SimHei,"Ubuntu Mono",Ubuntu,"Ubuntu Light",Arial,"STHeiti",Corbel,sans-serif;
	font-size: 17px;
	margin-top:30px;
	letter-spacing:2px;
	border-radius:3px;
	color: #333;
	background: url(../img/body_bg.jpg) repeat top left;
}
h1 {
	font-weight:lighter;
}
.main {
	font-family:"Microsoft YaHei",SimHei,"Ubuntu Mono",Ubuntu,"Ubuntu Light",Arial,"STHeiti",Corbel,sans-serif;
	letter-spacing:1px;
	line-height:1.6;
	width:65%;
	background-color:rgba(242,242,242,200);
	overflow:hidden;
	padding:20px;
	padding-top:30px;
	margin:0 auto;
	border-radius:5px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	animation-name:fadeIn;
	animation-duration:0.6s;
	-webkit-animation-name:fadeIn;
	-webkit-animation-duration:0.6s;
	-o-animation-name:fadeIn;
	-o-animation-duration:0.6s;
	-moz-animation-name:fadeIn;
	-moz-animation-duration:0.6s;
}
.title {
	font-size:2.6rem;
	margin-bottom:10px;
	color:#525d67;
	word-break:break-all;
	letter-spacing:2px;
}
.post-info {
	color:#999;
	font-size:18px;
	margin-left:5px;
}
.content a {
	color:#747f8c;
	margin:0 2px;
	padding:3px;
	border-bottom:2px solid #ecf0f1;
	padding-bottom:1px;
}
.content a:hover {
	text-shadow:0 0 1px;
	color:#747f8c;
	margin:0 2px;
	padding:3px;
	border-bottom:2px solid #ecf0f1;
	padding-bottom:1px;
}
a:link {
	text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
  font-weight:lighter;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code {
	font-family:"Microsoft YaHei",SimHei,"Ubuntu Mono",Ubuntu,"Ubuntu Light",Arial,"STHeiti",Corbel,sans-serif;
	background:#f8f8f8;
	color: rgb(65,176,86);
	margin:0 2px;
	padding:0 5px;
	border-radius:2px;
	word-break:initial;
}
pre code {
	font-family:"Microsoft YaHei",SimHei,"Ubuntu Mono",Ubuntu,"Ubuntu Light",Arial,"STHeiti",Corbel,sans-serif;
	font-size:16px;
	background:#666;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:5px;
	border:none;
	margin-bottom:25px;
	line-height:1.5;
	display:block;
	border-left:7px solid rgba(102,128,153,0.075);
	padding:5px 0px 5px 10px;
	overflow-x:auto;
	word-wrap:normal;
	white-space:pre;
	letter-spacing:0.5px;
	tab-size:4;
	-moz-tab-size:4;
	-o-tab-size:4;
}

.footnotes {
	border-top:2px solid #f0f0f0;
	padding-top:15px;
}
.footnotes ol {
	margin-left:0;
}
.footnotes ol li {
	font-size:17px;
	line-height:1;
}
.footnotes p {
	color:#747f8c;
	font-size:17px;
	line-height:1;
}
.footnotes p a {
	vertical-align:super;
	padding:0;
	margin:0 0 0 1px;
	border:0;
}
.footnotes p a:hover {
	padding:0;
	margin:0 0 0 1px;
	border:0;
}
table {
  background-color: #fafafa;
}
table tr th,
table tr td {
  border: 1px solid #e6e6e6;
}
table tr:nth-child(2n) {
  background-color: #f2f2f2;
}
#rocket {
	opacity:0.8;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

header {
  width:270px;
  float:left;
  position:fixed;
}

header ul {
  list-style:none;
  height:40px;

  padding:0;

  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}


#wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.ca-menu {
 list-style: none;
  padding: 0;
  margin: 20px auto;
}

#navi {
padding-top: 15px;
padding-right: 15px;
float: right;
width: 420px;
}

.title {
text-align:center;
}

div.clear {
clear: both;
}


  h1 { font-size: 2.5em; line-height: 1; }
  h2 { font-size: 2em;   line-height: 1; }
  h3 { font-size: 1.5em; line-height: 1; }
  h4 { font-size: 1.2em; line-height: 1.25; }
  h5 { font-size: 1em;   line-height: 1; font-weight: bold; }
  h6 { font-size: 1em;   line-height: 1; font-weight: bold; }

  h1, h2, h3, h4, h5, h6 { font-weight: normal; margin-top: 1.5em; margin-bottom: 1em; }
  h1, h2 { margin-bottom: 0.75em; }

.post p {
  max-width: 580px;
}

ul.list, ol.list {
  padding-left: 3.333em;
  max-width: 580px;
}

.post h2 {
  border-bottom: 1px solid #EDEDED;
}

h1:nth-child(1),
h2:nth-child(1),
h3:nth-child(1),
h4:nth-child(1),
h5:nth-child(1),
h6:nth-child(1) {
  margin-top: 0;
}

body {
  padding: 1em;
}

#wrapper {
  padding: 1em;
}

@media (min-width: 43.75em) {
  body {
    padding: 2em;
  }
  #wrapper {
    padding: 2em;
  }
}

@media (min-width: 62em) {
  body {
    padding: 3em;
  }
  #wrapper {
    max-width: 740px;
    padding: 3em;
  }
}

.hll{background-color:#ffffcc}.c{color:#408080;font-style:italic}.k{color:#008000;font-weight:bold}.o{color:#666666}.cm{color:#408080;font-style:italic}.cp{color:#BC7A00}.c1{color:#408080;font-style:italic}.cs{color:#408080;font-
style:italic}.gd{color:#A00000}.ge{font-style:italic}.gr{color:#FF0000}.gh{color:#000080;font-weight:bold}.gi{color:#00A000}.go{color:#888888}.gp{color:#000080;font-weight:bold}.gs{font-weight:bold}.gu{color:#800080;font-weight:b
old}.gt{color:#0044DD}.kc{color:#008000;font-weight:bold}.kd{color:#008000;font-weight:bold}.kn{color:#008000;font-weight:bold}.kp{color:#008000}.kr{color:#008000;font-weight:bold}.kt{color:#B00040}.m{color:#666666}.s{color:#BA21
21;}.na{color:#7D9029}.nb{color:#008000}.nc{color:#0000FF;font-weight:bold}.no{color:#880000}.nd{color:#AA22FF}.ni{color:#999999;font-weight:bold}.ne{color:#D2413A;font-weight:bold}.nf{color:#0000FF}.nl{color:#A0A000}.nn{color:#0
000FF;font-weight:bold}.nt{color:#008000;font-weight:bold}.nv{color:#19177C}.ow{color:#AA22FF;font-weight:bold}.w{color:#bbbbbb}.mf{color:#666666}.mh{color:#666666}.mi{color:#666666}.mo{color:#666666}.sb{color:#BA2121}.sc{color:#
BA2121}.sd{color:#BA2121;font-style:italic}.s2{color:#BA2121}.se{color:#BB6622;font-weight:bold}.sh{color:#BA2121}.si{color:#BB6688;font-weight:bold}.sx{color:#008000}.sr{color:#BB6688}.s1{color:#BA2121}.ss{color:#19177C}.bp{colo
r:#008000}.vc{color:#19177C}.vg{color:#19177C}.vi{color:#19177C}.il{color:#666666}

@media (max-width:1300px) {
	.main {
		width:75%;
	}
}
@media (max-width:1100px) {
	.main {
		width:80%;
	}
}
@media (max-width:900px) {
	.main {
		width:90%;
		padding-top:20px;
	}
}
@media (max-width:768px) {
	h1,h2,h3,h4,h5,h6 {
		margin-top:25px;
	}
	.main {
		width:100%;
		padding:5px 5px 0 4px;
	}
	.title {
		font-size:30px;
		margin-bottom:5px;
	}
	.post-info {
		font-size:16px;
		margin-left:2px;
		margin-bottom:-5px;
	}
	p,blockquote p,li {
		font-size:16px;
	}
	img {
		border-radius:6px;
	}
	code {
		word-break:break-all;
	}
	.footnotes ol li,.footnotes p {
		font-size:15px;
	}
	th,td {
		font-size:16px;
		padding:4px 8px;
	}
}
.comments {
	margin-top:50px;
}
.ds-powered-by {
	display:none;
}
img {
	display: inline-block;
    position: relative;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4); 
	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4); 
	box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4); 
	max-width:100%;
	border-radius:6px;
}
img:after{
	position: absolute; content: ' '; 
	width: 60px; 
	height: 25px; 
	top: -10px; 
	left: 50%; 
	margin-left: -30px; 
	border: solid 1px rgba(137,130,48,.2); 
	background: -moz-linear-gradient(top, rgba(254,243,127,.6) 0%, rgba(240,224,54,.6) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,243,127,.6)), color-stop(100%,rgba(240,224,54,.6))); 
	background: linear-gradient(top, rgba(254,243,127,.6) 0%,rgba(240,224,54,.6) 100%); 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.2);
}
.fancybox-close,.fancybox-close:hover {
	top:-17px;
	right:-23px;
	width:36px;
	height:30px;
	border-bottom:0;
}


.lifelog { 
	display:block; 
	position:relative; 
	margin:50px; 
	padding:20px; 
	background:#fafafa; 
	box-shadow:0 0 3px rgba(0, 0, 0, 0.2); 
	-moz-border-radius:4px; 
	border-radius:4px; 
	color:rgba(0,0,0, 0.8); 
	text-shadow:0 1px 0 #fff;
}
.lifelog::before, .lifelog::after{ 
	position:absolute; 
	content:""; 
	top:10px; 
	bottom:15px; 
	left:10px; 
	width:50%; 
	box-shadow:0 15px 10px rgba(0, 0, 0, 0.5); 
	-webkit-transform: rotate(-3deg); 
	-moz-transform:rotate(-3deg); 
	-o-transform:rotate(-3deg); 
	-ms-transform:rotate(-3deg); 
	transform:rotate(-3deg); 
	z-index:-1;
}
.lifelog::after{ 
	right:10px; 
	left:auto; 
	-webkit-transform:rotate(3deg); 
	-moz-transform:rotate(3deg); 
	-o-transform:rotate(3deg); 
	-ms-transform:rotate(3deg); 
	transform: rotate(3deg);
}
